.button {
  box-shadow: $shadow;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 300ms ease,
    color 300ms ease;
  position: relative;
  overflow: hidden;
  font-weight: 500;
  transform: translate3d(0, 0, 0);

  &.is-hovered,
  &:hover {
    background-color: $button-hover-background-color;
  }

  &.is-active ,
  &:active {
    box-shadow: $shadow-large;
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      &.is-hovered,
      &:hover {
        background-color: darken($color, 5);
      }
    }
  }

  &.is-text {
    box-shadow: none;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.5s, opacity 1s;
  }

  &:active:before {
    transform: scale(0, 0);
    opacity: 0.2;
    transition: 0s;
  }
}

.level-left {
  display: flex;
}
