@import "src/_variables.scss";
@import "node_modules/bulma/bulma.sass";

@font-face {
  font-family: 'Fira Mono';
  src: url('./fonts/FiraMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

html, body, #App { height: 100%; width: 100%; padding: 0; }
.button.is-primary.is-outlined:hover, .button.is-primary.is-outlined:focus {
  color: #2b3e50;
}
.input { background-color: #212c38; border-color: #4e5d6c; color: #8694a4; }
.input::-webkit-input-placeholder { color: #8694a4; }
.code-font { font-family: 'Fira Mono' }
.primary-font { font-family: 'Open Sans' }
.label { margin-top: 15px; color: #74889c; font-size: 15px; margin-bottom: 8px; display: block; font-weight: 400 }
.sub-heading {font-size: 15px; text-transform: uppercase; display: block; margin-top: 8px; margin-bottom: 10px; letter-spacing: 0.2em;}
.info { font-family: 'Fira Mono'; font-size: 13px}
.title-heading { font-size: 19px; text-transform: uppercase; letter-spacing: 0.45em; color: #ffc800; padding-bottom: 32px; padding-top: 28px; background-color: #1b2835; margin-top: 12px; }
.button {font-family: 'Open Sans'}
.logo-sidebar { height: 86px; width: 100%; background-color: #2e4458; display: block; margin-top: 13px; margin-bottom: 22px; padding: 11px 0px; }
.wallet-heading { font-family: "Open Sans"; font-size: 17px; text-transform: uppercase; letter-spacing: 0.2em; text-align: center; color: white;}
.transaction-list tr td:first-child { color: #74889c; font-size: 14px; font-weight: 400; text-align: right; }
.transaction-list tr td:last-child { font-family: 'Fira Mono'; font-size: 13px; padding-left: 20px }
.message { background-color: transparent; }

.scrollable { overflow-y: scroll; overflow-x:hidden; padding-right: 8px; height: 100%; position: absolute; top: 0; bottom: 0; left: 0; right: 0;}
.scrollable::-webkit-scrollbar { width: 5px; }
.scrollable::-webkit-scrollbar-track { background: rgba(0,0,0,0); }
.scrollable::-webkit-scrollbar-thumb { background: #4E5D6C; }
@media (max-width: 12450px) {
  .settings-btn { position: absolute; bottom: 0px; padding: 22px; width: 100% }
}
